<h2><%= @room.name %></h2>
<p>Participants: <%= @room.users.size %></p>
<p>Average score: <span id="score"><%= average_rating(@room) %></span></p>

<% if logged_in? %>
  <% if current_user.in_room?(@room) %>
    <%= form_for default_rating(@rating, @room) do |f| %>
      <%= f.hidden_field :room_id %>
      <%= f.label :score, 'Rating' %>
      <%= f.select :score, options_for_rating %>
      <%= f.button 'Submit score' %>
    <% end %>
  <% else %>
    <%= form_for @participation do |f| %>
      <%= f.hidden_field :room_id %>
      <%= f.button 'Join room' %>
    <% end %>
  <% end %>
<% else %>
  <p>Log in to join room</p>
<% end %>

<script>
  $(document).ready(function() {
    var scheme   = "<%= ws_scheme %>";
    var room_id = "<%= @room.id%>";
    var room = new Room(room_id, scheme);
    room.start();
  });
</script>
