<div class="page-header">
  <h1><%= @room.name %></h1>
</div>

<div class="col-lg-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Activity</h3>
    </div>
    <div class="panel-body" id="participants-panel">
       <div id="participants"></div>
       <% if logged_in? %>
         <% if current_user.in_room?(@room) %>
           <%= button_to 'Leave room', participation_path(@participation), :method => 'delete', :class => "btn btn-warning" %>
         <% else %>
           <%= form_for @participation do |f| %>
             <%= f.hidden_field :room_id %>
             <%= f.button 'Join room', class: "btn btn-primary" %>
           <% end %>
         <% end %>
       <% else %>
         <p>(Log in to join room)</p>
       <% end %>
      </div>
  </div>
</div>


<div id="room-panels"/>

<script>
  $(document).ready(function() {
    var scheme   = "<%= ws_scheme %>";
    var room_id = "<%= @room.id%>";
    var initialAvgScore = <%= @room.average_score || "null" %>;
    var initialUserScore = <%= default_rating(@rating, @room).score || "null" %>;
    var canSubmitScore = <%= logged_in? && current_user.in_room?(@room) %>
    window.AUTHENTICITY_TOKEN = "<%= form_authenticity_token %>";

    React.renderComponent(
      Speakup.Components.ParticipantCount({uri: wsUri(scheme),
                                           roomId: room_id,
                                           initialParticipants: <%= @room.users.size %>}),
      document.getElementById('participants'));
    React.renderComponent(
      Speakup.Components.Room({uri: wsUri(scheme),
                               initialUserScore: initialUserScore,
                               initialAvgScore: initialAvgScore,
                               canSubmitScore: canSubmitScore,
                               roomId: room_id}),
      document.getElementById('room-panels'));
  });
</script>
