<h2><%= @room.name %></h2>
<p>Participants: <%= @room.users.size %></p>

<% if logged_in? %>
  <% if current_user.in_room?(@room) %>
    <%= button_to 'Leave room', participation_path(@participation), :method => 'delete' %>
  <% else %>
    <%= form_for @participation do |f| %>
      <%= f.hidden_field :room_id %>
      <%= f.button 'Join room' %>
    <% end %>
  <% end %>
<% else %>
  <p>Log in to join room</p>
<% end %>

<div id="room">
</div>

<script>
  $(document).ready(function() {
    var scheme   = "<%= ws_scheme %>";
    var room_id = "<%= @room.id%>";
    var initialAvgScore = <%= @room.average_rating || "null" %>;
    var initialUserScore = <%= default_rating(@rating, @room).score || "null" %>;
    window.AUTHENTICITY_TOKEN = "<%= form_authenticity_token %>";

    React.renderComponent(
      Speakup.Components.Room({uri: wsUri(scheme),
                               initialUserScore: initialUserScore,
                               initialAvgScore: initialAvgScore,
                               roomId: room_id}),
      document.getElementById('room'));
  });
</script>
