<p id="notice"><%= notice %></p>

<p>Participants: <%= @room.users.size %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<% if logged_in? %>
  <%= form_for @participation do |f| %>
    <%= f.hidden_field :room_id %>
    <%= f.button 'Join room' %>
  <% end %>
<% end %>
