<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Speakup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "SpeakUp", root_path, class: "navbar-brand" %>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Lobby', rooms_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <%= form_for current_user, html: {class: "navbar-form", method: 'delete'} do |f| %>
            <%= f.hidden_field :name %>
            <%= f.button 'Log out', class: "btn btn-default navbar-btn" %>
          <% end %>
        <% else %>
          <%= form_for User.new, html: {class: "navbar-form"} do |f| %>
            <%= f.hidden_field :name %>
            <%= f.button 'Log in', class: "btn btn-default navbar-btn" %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-danger" role="alert" id="unsupported-browser" style="display:none">
        SpeakUp does not support your browser.
      </div>
      <script>
       $(document).ready(function() {
         if (!Modernizr.websockets) {
           $('#unsupported-browser').show();
          }
       });
      </script>
    </div>
    <div class="col-lg-12">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
