<!DOCTYPE html>
<html>
<head>
  <title>Speakup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <a href="" class="navbar-brand">SpeakUp</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Lobby', rooms_path %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user %>
            <%= form_for current_user, html: {class: "navbar-form", method: 'delete'} do |f| %>
              <%= f.hidden_field :name %>
              <%= f.button 'Log out', class: "btn btn-default btn-xs" %>
            <% end %>
          <% else %>
            <%= form_for User.new, html: {class: "navbar-form"} do |f| %>
              <%= f.hidden_field :name %>
              <%= f.button 'Log in', class: "btn btn-default btn-xs" %>
            <% end %>
          <% end %>
        </li>
      </ul>
   </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <%= yield %>
  </div>
</div>
</body>
</html>
