<!DOCTYPE html>
<html>
<head>
  <title>Speakup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= button_to 'Log out', user_path(current_user), :method => 'delete' %>
<% else %>
  <%= form_for User.new do |f| %>
    <%= f.hidden_field :name %>
    <%= f.button 'Log in' %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
